<ul>
    {% for post in include.posts %}
    <li>
        <h2 class="post-title p-name">
            <a href="{{ post.url | relative_url }}">
                {{ post.title }}
            </a>
        </h2>

        <p class="post-meta">
            <span>
                <i>{{ post.description | markdownify }}</i>
            </span>

            {% if page.path == 'index.md' %}
        <div>
            <span>
                <b>Categories:</b>
            </span>

            {% include post-categories.html categories=post.categories %}
        </div>
        {% endif %}

        <span>
            <b>Posted on:</b>
        </span>
        <span>
            {{ post.date | date: site.short_date }}
        </span>
        </p>
    </li>
    {% endfor %}
</ul>
